*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --title: #e73c6f;
    --text: #ffffff; 
    --email: #00a9ff;
    --bgcolor: #000000;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    font-family: 'Fredoka', sans-serif;;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header.container{
    margin-top: 2rem;;
}
.container h1{
    color: var(--title);
    text-align: center;
    font-size: 2.5rem;
}
main.container{
    margin-top: 3rem;
}
#titolo{
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
}
.box{
    width: calc(100% / 3);
    float: left;
    padding: 1.7rem 1rem;
}
.picture{
    background-color: var(--bgcolor);
    width: 30% ;
    height: 100px;
    float: left;
    
} 
.picture img{
    height: 100%;
    object-fit: cover;
}
.description{
    width: 70%;
    height: 100px;
    background-color: var(--bgcolor);
    float: left;
    padding: 0.5rem 0.3rem;
    line-height: 27px;
}
.white{
    color: var(--text);
}
.blue{
    color: var(--email);
}
